*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

#root {
  max-width: 100%;
  background-image: url(./bg-main-desktop.png);
  background-repeat: no-repeat;
}

/* MEDIA QUERIES */

@media screen and (max-width: 37.5em) {
  #root {
    width: 100vw;
    background-image: url(./bg-main-mobile.png);
    background-size: contain;
  }
}
