*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

#root {
  height: 100vh;
  max-width: 100%;
  background-image: url(./img/bg-main-desktop.png);
  background-repeat: no-repeat;
}
