.Card {
  display: grid;
  gap: 5rem;
}

.card-front,
.card-back {
  height: 25rem;
  width: 45rem;
}

.card-front {
  padding: 3rem;
  background: url(../img/bg-card-front.png) no-repeat;
}

.card-back {
  background: url(../img/bg-card-back.png) no-repeat;
  transform: translateX(20%);
  position: relative;
}

.card-details {
  color: hsl(0, 0%, 100%);
  margin-top: 6rem;
  display: grid;
  gap: 1.5rem;
}

.card-number {
  font-size: 2.3rem;
  letter-spacing: 0.5rem;
}

.name-expiry-date-container {
  font-size: 1.3rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.card-cvc {
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.25rem;
  position: absolute;
  top: 43%;
  right: 13%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 37.5em) {
  .Card {
    width: 100vw;
    height: 20rem;
    gap: 0rem;
    position: relative;
  }

  .card-front,
  .card-back {
    transform: scale(0.6);
  }

  .card-front {
    padding: 2rem;
    position: absolute;
    top: 35%;
    right: 0;
    z-index: 10;
  }

  .card-back {
    position: absolute;
    top: -10%;
    right: -20%;
    transform: translateX(0) scale(0.6);
  }

  .card-details {
    margin-top: 7rem;
  }
}
