.App {
  height: 100vh;
  width: 80vw;
  margin-inline: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 10rem;
}

@media screen and (max-width: 62.5em) {
  .App {
    width: 100vw;
  }
}
